/* Encapsulamiento para evitar conflicto con otros componentes */
.EmpleadoEditar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.EmpleadoEditar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.EmpleadoEditar form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.EmpleadoEditar label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.EmpleadoEditar input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.EmpleadoEditar input:focus {
    border-color: #007bff;
}

.EmpleadoEditar button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.EmpleadoEditar button:hover {
    background-color: #0056b3;
}
